# Ignore __pycache__ directories in post_service/app and user_service/app
post_service/app/__pycache__/
user_service/app/__pycache__/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional eslint cache
.eslintcache

# dotenv environment variable files
# .env
.env.development.local
.env.test.local
.env.production.local
.env.local

